{
  "extends": ["react-app", "airbnb", "prettier"],
  "plugins": ["prettier", "simple-import-sort"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["./mock-api/**/*.js", "**/*.test.js", "**/*.test.jsx"]
      }
    ],
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ]
  }
}
